/* colors */

:root {
    --w: white;
    --o-w: whitesmoke;
    --g: #985438;
    --d-b: rgba(0, 0, 0, 0.4);
    --gy: grey;
    --l-g: lightgrey;
    --blk: black;
}

/* general */

* {
    line-height: 1.1;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#all {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100vw;
    height: 100vh;
}

/* aside */

aside {
    background-image: url(pexels-damright-632075.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 30%; */
    color: var(--w);
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;

    text-align: center;

    /* display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center; */

    display: flex;
    flex-direction: column;
    text-align: end;
}

#odin {
    background-color: var(--d-b);
    /* width: 100%; */
    height: auto;
    display: flex;
    margin-top: 30%;
    justify-content: center;
    padding: 3.125rem;

    font-family: norse-bold;
    font-size: 6.25rem;

    grid-row: 1 / span 1;
}

#odinn content {
    display: flex;
}

#odin content span {
    align-self: center;
}

#odin img {
    width: 6.25rem;
    height: auto;
}

#credits {
    text-align: center;
    padding: .625rem;
    display: flex;
    justify-content: center;
}

#credits {
    margin-top: auto;
}

aside span a:link, aside span a:visited, aside span a:hover, aside span a:active {
    color: var(--w);
}

@font-face {
    font-family: "norse-bold";
    src: url(Norse-Bold.otf);
}

/* main */

main {
    /* width: 70%; */
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#incentive, #login, #sign-up {
    padding: 1.875rem 1.875rem 1.875rem 1.875rem;
}

#incentive, #login {
    background-color: var(--o-w);
    width: 100%;
}

#incentive, #sign-up #header {
    font-size: 1.875rem;
    font-weight: bold;
}

#header {
    margin: 1.25rem;
}

#sign-up > div {
    height: 100%;
}

form {
    margin: 1.25rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    /* height: 100%; */
    width: 70%;
    align-items: stretch;
}

form div {
    display: flex;
    gap: 1.875rem;
    padding: 0;
    margin: 30px 30px 30px 0px;
}

form fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

form label {
    text-transform: uppercase;
    letter-spacing: .125rem;
    font-size: .8125rem;
    margin-bottom: .3125rem;
}

form input {
    padding: .625rem;
    border-radius: .3125rem;
    border: .0625rem solid var(--l-g);
    width: 18.75rem;
}

#incentive {
    display: flex;
    flex-direction: column;
}

#incentive div {
    margin-top: auto;
}

#incentive p:first-child {
    margin: 0;
}

#sign-up fieldset {
    border: none;
}

#login button {
    background-color: var(--g);
    border: .0625rem solid transparent;
    border-radius: 1.25rem;
    padding: 1.25rem 2.8125rem 1.25rem 2.8125rem;
    font-size: 1.25rem;
    color: var(--w);
    font-weight: bold;
}

#login div {
    font-size: 1.25rem;
    padding: 1.25rem 0rem 1.25rem 0rem;
}

#login a {
    color: var(--g);
    font-weight: bold;
    text-decoration: none;
}


