/* colors */

:root {
    --w: white;
    --o-w: whitesmoke;
    --g: #5f9341;
    --d-b: rgba(0, 0, 0, 0.55);
}

/* general */

* {
    line-height: 1.1;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#all {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* aside */

aside {
    background-image: url(nora-long-SMuJfoXzfUo-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    color: var(--w);
}

#odin {
    background-color: var(--d-b);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.125rem;

    font-family: norse-bold;
    font-size: 6.25rem;
}

#odin img {
    width: 6.25rem;
    height: auto;
}

aside span a:link, aside span a:visited, aside span a:hover, aside span a:active {
    color: var(--w);
}

@font-face {
    font-family: "norse-bold";
    src: url(Norse-Bold.otf);
}

/* main */

main {
    width: 70%;
}

#incentive, #login {
    background-color: var(--o-w);
    width: 100%;
}

#login button {
    background-color: var(--g);
}

#login a {
    color: var(--g);
    font-weight: bold;
}


